@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap);
@font-face {
  font-family: Gilroy-Regular;
  src: url(../../../fonts/Gilroy-Regular.woff),url(../../../fonts/Gilroy-Regular.woff2)
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(../../../fonts/Gilroy-Medium.woff),url(../../../fonts/Gilroy-Medium.woff2)
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(../../../fonts/Gilroy-Bold.woff),url(../../../fonts/Gilroy-Bold.woff2)
}
@font-face {
  font-family: Gilroy-Semibold;
  src: url(../../../fonts/Gilroy-Semibold.woff),url(../../../fonts/Gilroy-Semibold.woff)
}
@font-face {
  font-family: Gilroy-UltraLight;
  src: url(../../../fonts/Gilroy-UltraLight.woff),url(../../../fonts/Gilroy-UltraLight.woff)
}
body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: Gilroy-Regular,sans-serif,serif;
  color: #212d55;
  background-color: #fff;
  background-image: url(../../../img/header-blur.svg),url(../../../img/bg-image.png);
  background-position: center -100px,-427px 0;
  background-repeat: no-repeat,no-repeat
}
img {
  max-width: 100%;
  height: auto
}
ul {
  padding: 0;
  margin: 0;
  list-style: none
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff
}
a:hover {
  color: #31bef4
}
.button {
  display: inline-block;
  margin-bottom: 5px;
  padding: 15px 19px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-family: Gilroy-Semibold;
  color: #fff;
  background-color: #31bef4;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 0 0 #2cabdc;
  box-shadow: 0 6px 0 0 #2cabdc;
  cursor: pointer
}
.button:hover {
  background-color: #2cabdc;
  -webkit-box-shadow: 0 6px 0 0 #2598c3;
  box-shadow: 0 6px 0 0 #2598c3
}
button {
  cursor: pointer
}
.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
@media (min-width:768px) {
  body {
    background-image: url(../../../img/header-blur.svg),url(../../../img/bg-image.png);
    background-position: center -100px,100% 0;
    background-size: auto,100% 40%
  }
}
@media (min-width:1024px) {
  body {
    background-image: url(../../../img/header-blur.svg),url(../../../img/bg-image.png);
    background-position: center -100px,100% 0;
    background-size: auto,100% 40%
  }
}
@media (min-width:1400px) {
  body {
    background-image: url(../../../img/header-blur.svg),url(../../../img/bg-image.png);
    background-position: center -100px,100% 0;
    background-size: auto,100% 811px
  }
}
.container {
  width: 90%;
  margin: 0 auto
}
@media (min-width:1400px) {
  .container {
    width: 79%
  }
}
.page-header {
  min-height: 129px;
  margin-bottom: 114px
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px
}
.page-header__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (min-width:768px) {
  .page-header__menu-btn {
    display: none
  }
}
.page-header__name {
  margin: 0;
  margin-right: 10px;
  line-height: 40px;
  font-family: Gilroy-Medium
}
.page-header__toggle {
  position: relative;
  width: 31px;
  height: 23px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer
}
.page-header__toggle--closed::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 31px;
  height: 2.42px;
  border-radius: 50px;
  background-color: #212d55;
  -webkit-box-shadow: 0 10px 0 0 #212d55,0 20px 0 0 #212d55;
  box-shadow: 0 10px 0 0 #212d55,0 20px 0 0 #212d55
}
.page-header__toggle--opened::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 15px;
  height: 1px;
  border-radius: 50px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.page-header__toggle--opened::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 15px;
  height: 1px;
  border-radius: 50px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.arrow {
  position: relative
}
.arrow::before {
  display: none;
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 1px 1px 0;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.arrow--up.arrow::before {
  display: inline-block;
  right: -15px;
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg)
}
.arrow--down.arrow::before {
  display: inline-block;
  right: -15px;
  top: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
@media (min-width:768px) {
  .arrow.arrow--up.arrow::before {
    display: none
  }
  .arrow.arrow--down::before {
    display: none
  }
}
.page-header__mobile-menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  text-align: end;
  background-color: #212d55;
  color: #fff
}
@media (min-width:768px) {
  .page-header__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    width: 70%;
    background-color: transparent
  }
}
.navigation__list {
  display: block;
  margin: 0;
  padding: 0 30px
}
@media (min-width:768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    padding: 0
  }
}
.mobile-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px
}
@media (min-width:768px) {
  .mobile-menu__header {
    display: none
  }
}
.navigation__item {
  font-family: Raleway;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer
}
@media (min-width:768px) {
  .navigation__item {
    position: relative;
    margin-right: 32px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #212d55
  }
  .navigation__item:last-child {
    margin-right: 0
  }
  .hover-link:hover {
    color: #31bef4
  }
}
@media (min-width:1400px) {
  .navigation__item {
    font-size: 18px
  }
}
.sub-navigation {
  display: none
}
.sub-navigation__item {
  margin-bottom: 10px;
  font-family: Gilroy-Regular;
  font-weight: 400
}
@media (min-width:768px) {
  .sub-navigation__link {
    color: #212d55
  }
}
.menu-level-1 {
  margin-top: 15px
}
.menu-paragraph {
  margin-top: 15px;
  margin-bottom: 15px
}
.menu-level-2 .sub-navigation__item {
  margin-bottom: 9px
}
@media (min-width:768px) {
  .menu-level-1 {
    display: none;
    position: absolute;
    top: 150%;
    left: 50%;
    min-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    text-align: right;
    -webkit-box-shadow: 0 10px 28px rgba(0,0,0,.2);
    box-shadow: 0 10px 28px rgba(0,0,0,.2);
    -webkit-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    z-index: 1
  }
  .menu-paragraph {
    margin: 0
  }
  .sub-navigation__item:last-child {
    margin: 0
  }
  .menu-level-2 {
    display: none;
    position: absolute;
    top: 120%;
    left: 50%;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    -webkit-box-shadow: 0 10px 28px rgba(0,0,0,.2);
    box-shadow: 0 10px 28px rgba(0,0,0,.2);
    z-index: 1
  }
}
.open {
  display: block
}
.mobile-menu__contacts {
  padding: 0 30px 64px 30px
}
@media (min-width:768px) {
  .mobile-menu__contacts {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0;
    word-break: break-all;
    margin-left: 54px
  }
}
.contacts__number {
  margin: 0;
  margin-bottom: 6px;
  font-family: Gilroy-Semibold;
  font-size: 20px;
  line-height: 25px
}
@media (min-width:768px) {
  .contacts__number {
    font-size: 16px;
    line-height: 20px;
    color: #212d55
  }
}
@media (min-width:1400px) {
  .contacts__number {
    font-size: 20px;
    line-height: 25px
  }
}
.contacts__order {
  margin: 0
}
.contacts__order a {
  display: inline-block;
  text-decoration: underline;
  font-family: Raleway;
  font-weight: 600
}
@media (min-width:768px) {
  .contacts__order a {
    font-size: 16px;
    line-height: 20px;
    color: #212d55
  }
  .contacts__order a:hover {
    color: #31bef4
  }
}
@media (min-width:1400px) {
  .contacts__order a {
    font-size: 18px;
    line-height: 22px
  }
}
.page-main {
  background-image: url(../../../img/clouds.svg);
  background-repeat: no-repeat;
  background-position: -420px 433px
}
@media (min-width:768px) {
  .page-main {
    background-image: none
  }
}
.page-main__wrapper {
  margin-bottom: 437px;
  text-align: center
}
@media (min-width:768px) {
  .page-main__wrapper {
    margin-bottom: 200px
  }
}
@media (min-width:1024px) {
  .page-main__wrapper {
    margin-bottom: 360px
  }
}
.page-main__title {
  padding: 0 30px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 40px
}
@media (min-width:768px) {
  .page-main__title {
    padding: 0;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 45px
  }
}
@media (min-width:1200px) {
  .page-main__title {
    font-size: 35px;
    line-height: 50px
  }
}
@media (min-width:1400px) {
  .page-main__title {
    margin-bottom: 28px;
    font-size: 60px;
    line-height: 70px
  }
}
.title-bold {
  font-family: Raleway;
  font-weight: 600
}
.page-main__adress {
  margin: 0;
  margin-bottom: 23px;
  font-size: 20px;
  line-height: 24px
}
@media (min-width:768px) {
  .page-main__adress {
    margin-bottom: 10px
  }
  .page-main__adress br {
    display: none
  }
}
@media (min-width:1400px) {
  .page-main__adress {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 38px
  }
}
.page-main__metre {
  font-family: Gilroy-Bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 19px
}
@media (min-width:1200px) {
  .page-main__metre {
    font-size: 30px;
    line-height: 30px
  }
}
@media (min-width:1400px) {
  .page-main__metre {
    font-size: 35px;
    line-height: 70px;
    margin-bottom: 25px
  }
}
.page-main__button {
  margin-top: 10px
}
.description-complex {
  margin-bottom: 32px
}
@media (min-width:1024px) {
  .description-complex {
    margin-bottom: 152px
  }
}
.description-complex__title {
  margin-bottom: 52px;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  font-family: Gilroy-Bold
}
@media (min-width:768px) {
  .description-complex__title {
    font-size: 35px
  }
}
@media (min-width:1400px) {
  .description-complex__title {
    margin-bottom: 60px;
    font-size: 45px;
    line-height: 70px
  }
}
.swiper__button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
@media (min-width:768px) {
  .swiper__button {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
  }
}
@media (min-width:1024px) {
  .swiper__button {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
@media (min-width:1400px) {
  .swiper__button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
.btn__text {
  position: relative;
  font-family: Gilroy-Semibold;
  font-size: 18px;
  line-height: 22px;
  color: #212d55
}
@media (min-width:768px) {
  .btn__text:hover {
    color: #31bef4
  }
}
@media (min-width:1400px) {
  .btn__text {
    font-size: 22px;
    line-height: 27px;
    color: #212d55
  }
}
.btn__name {
  position: relative;
  display: inline-block;
  padding: 25px 80px;
  width: 290px;
  min-height: 71px;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  background: #f9fcfd;
  -webkit-box-shadow: 0 5px 15px rgba(33,45,85,.2);
  box-shadow: 0 5px 15px rgba(33,45,85,.2);
  border-radius: 10px
}
@media (min-width:980px) {
  .btn__name {
    margin-right: 20px
  }
}
@media (min-width:1024px) {
  .btn__name {
    width: 193px;
    min-height: 102px;
    margin-right: 30px;
    padding: 32px 25px
  }
}
@media (min-width:1400px) {
  .btn__name {
    margin-right: 40px
  }
}
.btn__name::before {
  position: absolute;
  content: "";
  width: 270px;
  min-height: 51px;
  left: calc(50% - 135px);
  top: calc(50% - 25.5px);
  background: #fff;
  -webkit-box-shadow: 0 5px 19px rgba(33,45,85,.06);
  box-shadow: 0 5px 19px rgba(33,45,85,.06);
  border-radius: 10px
}
.btn__name::after {
  content: "";
  position: absolute;
  width: 16.79px;
  height: 15px;
  right: calc(100% - 19px);
  top: calc(50% - 7.5px);
  border-radius: 50%;
  background: #f9fcfd;
  -webkit-box-shadow: inset -4px 0 5px 0 rgba(33,45,85,.05);
  box-shadow: inset -4px 0 5px 0 rgba(33,45,85,.05)
}
@media (min-width:1024px) {
  .btn__name::before {
    width: 163px;
    min-height: 72px;
    left: calc(50% - 81.5px);
    top: calc(50% - 36px)
  }
  .btn__name:hover::before {
    border: 1px solid #31bef4
  }
  .btn__name:hover::after {
    border-right: 1px solid #31bef4
  }
  .btn__name::after {
    height: 18px;
    right: calc(100% - 22px)
  }
}
.swiper {
  width: 100%
}
@media (min-width:1024px) {
  .swiper {
    width: 90%
  }
}
@media (min-width:1400px) {
  .swiper {
    width: 79%
  }
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
@media (min-width:1024px) {
  .slider {
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
.slider-main {
  position: relative;
  width: 100%;
  height: 368px;
  margin-bottom: 20px;
  overflow: hidden
}
@media (min-width:768px) {
  .slider-main {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px
  }
}
@media (min-width:1024px) {
  .slider-main {
    width: 848px;
    height: 573px;
    margin: 0;
    margin-bottom: 0;
    overflow: hidden
  }
}
.slider-nav {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 91px;
  overflow: hidden
}
@media (min-width:1024px) {
  .slider-nav {
    margin: 0;
    margin-left: 30px;
    width: 100%;
    height: 573px;
    width: 262px
  }
}
.slider-nav .swiper-slide {
  width: 140px;
  height: 91px
}
.slider-nav .swiper-slide img {
  max-height: 100%
}
@media (min-width:1024px) {
  .slider-nav .swiper-slide {
    width: 100%
  }
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px
}
.slider-text {
  position: absolute!important;
  width: 290px;
  height: 266px;
  left: 15px;
  bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: auto!important
}
.slider-text::-webkit-scrollbar {
  width: 0!important
}
.slider-text {
  -ms-overflow-style: none
}
.slider-text {
  overflow: -moz-scrollbars-none
}
@media (min-width:768px) {
  .slider-text {
    width: 400px
  }
}
@media (min-width:1024px) {
  .slider-text {
    width: 450px;
    height: 300px;
    left: 27px;
    bottom: 54px
  }
}
@media (min-width:1400px) {
  .slider-text {
    width: 538px
  }
}
.slider-text__slide {
  height: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.slider-text__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 27px;
  font-family: Gilroy-Bold
}
.slider-text__description {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 19px
}
.slider-text__description:last-child {
  margin-bottom: 0
}